@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.background-color {
    display: grid;
    min-height: 100vh;
    justify-content: center;
}

.entire {
    display: grid;
    align-content: center;
    justify-content: center;
}

.background {
    width: 375px;
    /* height: 580px; */
    background-color: var(--White);
    border-radius: 3%;
}

.qr-img {
    width: 345px;
    height: 355px;
    border-radius: 3%;
    margin-top: 15px;
    margin-left: 15px;
}

h1 {
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 25px;
    font-size: 25px;
    color: var(--DarkBlue)
}

p {
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    width: 300px;
    color: var(--GrayishBlue);

/* .attribution {
    margin-top: 120px;
    margin-left: -25px;
    width: 500px;
} */